body{
font-family: sans-serif;
font-size: 20px;
background-color:  #d9d9d9;
border: 15px;
padding: 15px;
position: relative;
left: 20%;
}

section {
border-radius: 7px;
font-size: 20px;
background-color: white;
max-width: 650px;
padding:50px;
margin-bottom:10px;
margin-left:16px;
box-shadow: 0 0 50px 25px #bfbfbf;
line-height: 1.6;
}

th, td{
font-size: 16px;
border: 1px solid #e6e6e6;
padding: 12px;
line-height: 1.6;
}

th {
background-color: #f2f2f2;
color: black;
}

td {
background-color: #ffffff;
color: black;
}


table{
border-collapse: collapse;
}